# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Cache and logs
*.log
*.cache
*.tmp

# Environment variables
.env
.env.*

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Python egg info
*.egg-info/

# Pickle files
*.pkl
*.pickle

# Streamlit config and cache
.streamlit/

# Model files
*.h5
*.keras
